{% extends "./principal.html"%}

{% block title%}Gestion de usuarios{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4"></div>
    <h2>Edicion de usuarios</h2>
    <div class="card">
        <div class="card-body">
            <form action="/editarUsuario/" method="post">{% csrf_token %}
                <div class="form-group py-2">
                    <input type="text" id="txtCodigo" name="txtCodigo" value="{{ Usuario.codigo }}" class="form-control" placeholder="Codigo" readonly required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNombre" name="txtNombre" value="{{ Usuario.nombre }}" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtClave" name="txtClave" value="{{ Usuario.clave }}" class="form-control" placeholder="Clave" required>
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-success btn block text-white">Guardar</button>
                </div>
            </form>
        </div>   
    </div>
</div>

{% endblock %}